#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: aqua;
}

.flashcards{
  display:flex;
  justify-content: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 50px 2px rgba(0 0 0 0);
  background-color: cadetblue;
  height: 150px;
  width: 150px;
}

